body {
    color: #21201C;
}

h1 {
    color: #f53003;
}

a {
    color: #f53003;
    text-decoration: none;
}

#themeToggler {
    top: 10px;
    right: 10px;
}

#themeToggler:hover {
    cursor: pointer;
}